@import "tailwindcss";
@import "./tweakcn.css";

body {
  letter-spacing: var(--tracking-normal);
  font-feature-settings:
    "rlig" 1,
    "calt" 1;
  font-family: var(--font-sans);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  line-height: 1.2;
  font-weight: 600;
}
